<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="userDao" class="com.pp.dao.impl.UserDaoImpl" init-method="init" destroy-method="destroy"></bean>-->
    <!--    <bean id="userDao" class="com.pp.factory.StaticFactory" factory-method="getUserDao"></bean>-->
    <!--    <bean id="factory" class="com.pp.factory.DynamicFactory"></bean>-->
    <!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->
    <!--<bean id="userDao" class="com.pp.dao.impl.UserDaoImpl">
        <property name="userName" value="zhangsan"/>
        <property name="age" value="10"/>
    </bean>-->
    <!--<bean id="userDao" class="com.pp.dao.impl.UserDaoImpl">
        <constructor-arg name="userName" value="zhangsan"/>
        <constructor-arg name="age" value="50"/>
    </bean>-->
    <bean id="userDao" class="com.pp.dao.impl.UserDaoImpl">
        <property name="strList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <property name="userMap">
            <map>
                <entry key="u1" value-ref="user1"></entry>
                <entry key="u2" value-ref="user2"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>
    </bean>
    <bean id="user1" class="com.pp.domain.User">
        <property name="name" value="tom"/>
        <property name="addr" value="beijing"/>
    </bean>
    <bean id="user2" class="com.pp.domain.User">
        <property name="name" value="jerry"/>
        <property name="addr" value="tianjin"/>
    </bean>
    <!--    <bean id="userService" class="com.pp.service.impl.UserServiceImpl">-->
    <!--        <property name="userDao" ref="userDao"></property>-->
    <!--    </bean>-->
    <!--    <bean id="userService" class="com.pp.service.impl.UserServiceImpl" p:userDao-ref="userDao"></bean>-->
    <bean id="userService" class="com.pp.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"></constructor-arg>
    </bean>
</beans>